@import "../../index.scss";
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");
.container {
	display: flex;
	flex-direction: column;
	border: 1px solid red;
	margin-bottom: 24px;
	@include tablet {
		margin-bottom: 60px;
	}
	@include desktop {
		margin-bottom: 120px;
	}
}

.title {
	align-self: center;
	display: inline-block;
	color: $titleGray;

	font-weight: 300;
	line-height: 100%;
	max-width: 519px;
	margin-bottom: 24px;
	font-size: 44px;

	@include tablet {
		align-self: auto;
		margin-bottom: 62px;
		font-size: 64px;
	}
}

.photoGrid {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	@include tablet {
		gap: 30px;
	}
	justify-content: space-between;
	margin-bottom: 30px;
}

.photo {
	overflow: hidden;
	position: relative;

	&:nth-child(1),
	&:nth-child(2) {
		@include calc(2, 10px);

		@include tablet {
			@include calc(2, 30px);
		}
	}

	&:nth-child(n + 3) {
		@include calc(3, 10px);
		@include tablet {
			@include calc(3, 30px);
		}
	}

	img {
		width: 100%;
		min-height: 125px;
		max-height: 125px;
		display: block;
		@include tablet {
			min-height: 255px;
			max-height: 255px;
		}
	}
}

.photoFrame {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.8); /* Цвет фрейма с прозрачностью */
}

.aboutLink {
	display: flex;
	font-family: "Gothic A1", sans-serif;
	text-decoration: none;

	border: none;
	background-color: transparent;
	transition: all $hoverAnimation;
	gap: 12px;
	color: $mainBgColorWhite;
	align-items: center;
	font-size: 12px;

	line-height: 100%;
	letter-spacing: 2.4px;
	text-transform: uppercase;

	@include tabletLess {
		justify-content: center;
	}

	@include desktop {
		max-width: 222px;
		max-height: 71px;
	}

	&:hover {
		cursor: pointer;
		background-color: $mainBgColorWhite;
		color: $mainTextColorGrey;
	}

	& .icon {
		width: 100%;
		height: 100%;
	}
}

.photoTitle {
	color: $mainBgColorWhite;

	font-size: 64px;

	font-weight: 700;
	line-height: 1;
}

.iconWrapper {
	display: inline-block;
	width: 24px;
	height: 24px;
}
.ourProjectBtn {
	display: flex;
	justify-content: center;
	width: 100%;
	@include tablet {
		max-width: 222px;
	}
	max-height: 71px;
	padding: 24px 36px;
	border: none;
	background: $mainTextColorGrey;
	transition: all $hoverAnimation;
	gap: 12px;
	color: $mainBgColorWhite;
	align-items: center;
	font-size: 12px;

	line-height: 100%;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	margin-left: auto;

	&:hover {
		cursor: pointer;
		background-color: $mainBgColorWhite;
		color: $mainTextColorGrey;
	}

	& .icon {
		width: 100%;
		height: 100%;
	}
}
