@import "../../index.scss";

.heroWrapper {
	
	position: relative;

	display: flex;
	justify-content: space-between;
	gap: 12px;
	align-items: center;
	overflow: hidden;
	margin-bottom: 24px;
	@include tablet {
		margin-bottom: 60px;
	}

	@include desktop {
		margin-bottom: 120px;
	}

	&::before {
		content: "";
		z-index: 1;
		position: absolute;
		top: 55.9%;
		left: 10%;
		min-width: 100%;
		height: 1px;
		background-color: $thirdColorWhite;
	}
}

.interfaceContainer {
	display: flex;
	flex-direction: column;
}

.titleWrapper {
	margin-bottom: 60px;

	@include desktop {
		margin-bottom: 90px;
	}
}

.mainTitle {
	color: $titleGray;
	font-size: 34px;
	font-weight: 300;
	line-height: 100%;
	text-transform: uppercase;
	@include tablet {
		font-size: 64px;
	}
}

.projectTitle {
	color: $mainTextColorGrey;
	font-size: 34px;
	font-weight: 700;
	line-height: 100%;
	text-transform: uppercase;
	@include tablet {
		font-size: 64px;
	}
}
.flexWrapper {
	display: flex;
	flex-direction: column;
}

.btnWrapper {
	z-index: 10000;
	position: relative;
	display: flex;
	justify-content: center;
	gap: 12px;
	margin-bottom: 24px;
	@include mobileL {
		margin-bottom: 60px;
	}
	@include tablet {
		gap: 23px;
	}

	@include desktop {
		margin-bottom: 90px;
	}
}

.btn {
	width: 53px;
	height: 53px;
	padding: 15px 14px 14px;
	border: 1px solid $thirdColorWhite;
	background: #f9f9f9;
	transition: all $hoverAnimation;

	&:hover {
		cursor: pointer;
		background-color: $mainTextColorGrey;
		border-color: $secondTextColorBlack;
	}

	& .icon {
		width: 100%;
		height: 100%;
	}

	&:hover .icon {
		color: $mainBgColorWhite;
	}
}

.iconWrapper {
	display: inline-block;
	width: 24px;
	height: 24px;
}

.counter {
	display: flex;
	position: relative;
	justify-content: center;
	padding-top: 4px;
	padding-bottom: 3px;
	gap: 90px;
	&::before {
		content: "";
		z-index: 1;
		position: absolute;
		top: 100%;
		left: 45%;
		transform: translate(-50%, -50%);
		width: 1px;
		height: 140%;
		background-color: #e0e0e0;
		transform: rotate(225deg);
		transform-origin: 0 0;
	}
	span {
		color: #bdbdbd;
		font-size: 24px;
		line-height: 100%;
	}
}

.imageWrapper {
	position: relative;
	img {
		position: relative;
		z-index: 10;
		max-width: 100%; /* Максимальная ширина картинки - 100% от родительского контейнера */
		height: auto;
	}
}

.heroBtn {
	z-index: 11;
	position: absolute;
	bottom: 0;

	align-items: center;
	display: flex;
	max-width: 222px;
	max-height: 71px;

	padding: 8px 14px;
	@include tablet {
		padding: 30px 50px;
	}

	border: none;
	background: $mainBgColorWhite;
	transition: all $hoverAnimation;
	gap: 12px;
	color: $mainTextColorGrey;

	font-size: 12px;

	line-height: 100%;
	letter-spacing: 2.4px;
	text-transform: uppercase;

	&:hover {
		cursor: pointer;
		background-color: $mainTextColorGrey;
		color: $mainBgColorWhite;
	}

	& .icon {
		width: 100%;
		height: 100%;
	}
}
