@import "../../index.scss";

.container {
	display: flex;
	flex-direction: row;
	gap: 30px;
	background-color: $secondaryBgColorWhite;
	padding: 30px 70px 0px 100px;
	margin-bottom: 120px;
}

.previewWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.preview1 {
	width: 270px;

	height: calc(270px / 1.02);
}

.preview2 {
	width: 270px;
	height: calc(270px / 1.93);
}

.preview3Wrapper {
	display: flex;
	align-items: center;
}
.preview3 {
	width: 270px;
	height: calc(270px / 0.78);
}

.textWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.aboutTitle {
	color: $titleGray;

	font-size: 64px;

	font-weight: 300;
	line-height: 1;
}

.aboutDescription {
	display: inline-block;

	max-width: 400px;
	color: $secondTextColorBlack;
	font-size: 16px;
	font-weight: 300;
	line-height: 156.25%;
}

.iconWrapper {
	display: inline-block;
	width: 24px;
	height: 24px;
}
.aboutBtn {
	display: flex;
	max-width: 222px;
	max-height: 71px;
	padding: 24px 50px;
	border: none;
	background: $mainBgColorWhite;
	transition: all $hoverAnimation;
	gap: 12px;
	color: $mainTextColorGrey;
	align-items: center;
	font-size: 12px;

	line-height: 100%;
	letter-spacing: 2.4px;
	text-transform: uppercase;

	&:hover {
		cursor: pointer;
		background-color: $mainTextColorGrey;
		color: $mainBgColorWhite;
	}

	& .icon {
		width: 100%;
		height: 100%;
	}
}
