@import "../../index.scss";

.container {
	
	border: 1px solid red;
	background-color: $secondaryBgColorWhite;
	padding: 30px 70px 0px 100px;

	img {
		display: block;
		width: 270px;
		height: calc(270px / 1.02);
	}
}

.previewWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
