@import "../../index.scss";

.container {
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: $secondaryBgColorWhite;
	margin-bottom: 24px;
	@include tablet {
		gap: 30px;
		margin-bottom: 60px;
	}
	@include desktop {
		padding: 30px 70px 0px 100px;
		margin-bottom: 120px;
	}
}

.previewWrapper {
	display: none;
	@include desktop {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

.preview1 {
	width: 270px;

	height: calc(270px / 1.02);
}

.preview2 {
	width: 270px;
	height: calc(270px / 1.93);
}

.preview3Wrapper {
	display: flex;
	align-items: center;
}
.preview3 {
	display: none;
	width: 100%;
	height: 100%;
	@include tablet {
		display: block;
	}
	@include desktop {
		height: calc(270px / 0.78);
	}
}

.textWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.aboutTitle {
	color: $titleGray;
font-size: 44px;
align-self: center;
	

	font-weight: 300;
	line-height: 1;
	@include tablet {
		font-size: 64px;
		align-self: auto;
	}
}

.aboutDescription {
	display: inline-block;

	color: $secondTextColorBlack;
	font-size: 16px;
	font-weight: 300;
	line-height: 156.25%;

	@include desktop {
		max-width: 400px;
	}
}

.iconWrapper {
	display: inline-block;
	width: 24px;
	height: 24px;
}
.aboutBtn {
	display: flex;

	padding: 24px 50px;
	border: none;
	background: $mainBgColorWhite;
	transition: all $hoverAnimation;
	gap: 12px;
	color: $mainTextColorGrey;
	align-items: center;
	font-size: 12px;

	line-height: 100%;
	letter-spacing: 2.4px;
	text-transform: uppercase;

	@include tabletLess {
		justify-content: center;
	}

	@include desktop {
		max-width: 222px;
		max-height: 71px;
	}

	&:hover {
		cursor: pointer;
		background-color: $mainTextColorGrey;
		color: $mainBgColorWhite;
	}

	& .icon {
		width: 100%;
		height: 100%;
	}
}
