@import "../../index.scss";

.container {
	border: 1px solid red;
}
.title {
	display: inline-block;
	color: $titleGray;
	font-size: 64px;
	font-weight: 300;
	line-height: 100%;
	max-width: 519px;
	margin-bottom: 62px;
}

.tasksWrapper {
	display: flex;
	justify-content: space-between;
}

.taskItem {
	display: flex;
	gap: 30px;
}

.taskIndex {
	font-family: "SFProDisplay-Black";
	font-weight: 900;
    display: block;

	color: $thirdColorWhite;

	font-size: 200px;
	font-style: normal;

	line-height: normal;
}

.taskDescription {
	color: $mainTextColorGrey;

	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 163.636%;
}
