@import "../../index.scss";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 270px;
	padding-left: 136px;
	width: 100%;

	background-color: #fff;
}

.navWrapper {
	display: flex;
}

.navItem {
	@include calc(5, 60px);
	margin-right: 60px;

	text-align: center;

	&:last-child {
		margin-right: 0;
	}

	.navLink {
		position: relative;

		text-decoration: none;
		color: $mainTextColorGrey;
		font-size: 12px;
		line-height: 100%;
		letter-spacing: 2.4px;
		text-transform: uppercase;

		&[aria-current="page"] {
			&::before,
			&::after {
				content: "";
				display: block;
				position: absolute;

				width: 100%;
				left: 0;
				right: 0;
				border-top: 1px solid $mainTextColorGrey;
			}
			&::before {
				top: 0;
				margin-top: -3px;
			}
			&::after {
				bottom: 0;
				margin-bottom: -3px;
			}
		}
	}
}
