@import "../../index.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.container {
	border-bottom: 1px solid rgba(200, 200, 200, 0.50);
	width: 100%;
	margin-bottom: 24px;

	background-color: $footerColorBlack;

	padding: 60px 116px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;

	color: #fff;

	font-size: 14px;

	font-weight: 500;
	line-height: 171.429%;
	letter-spacing: 0.03rem;

	
}

.navLink {
	color: $mainBgColorWhite;

	font-size: 14px;

	font-weight: 500;
	line-height: 171.429%;
	letter-spacing: 0.03rem;
	text-decoration: none;
	transform: text-decoration $hoverAnimation;

	&:hover {
		text-decoration: underline;
	}
}

.title {
	font-size: 16px;
	margin-bottom: 25px;
}

.navList {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.contactList {
	display: flex;
	flex-direction: column;
	gap: 31px;
	flex-wrap: wrap;

	a {
		display: flex;
		flex-direction: row;
		gap: 14px;
		align-items: center;
		text-decoration: none;
		color: $mainBgColorWhite;
		&:hover {
			text-decoration: underline;
		}

		span {
			overflow-wrap: break-word;
			max-width: 235px;
		}
	}
}

.socialIconsList {
	display: flex;
	flex-direction: row;
	gap: 40px;

	a {
		cursor: pointer;
		text-decoration: none;
		svg {
			transition: transform $hoverAnimation;
		}
		&:hover {
			svg {
				transform: scale(1.4);
			}
		}
	}
}

.flexCont {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.allRights {
	margin-bottom: 24px;
	color: rgba(200, 200, 200, 0.5);
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 183.333%;
}
