$mainBgColorWhite: #FFF;
$secondaryBgColorWhite: #FBFBFB;
$mainTextColorGrey: #333;
$secondTextColorBlack: #000;
$titleGray: #BDBDBD;
$hoverAnimation: 0.3s ease-in-out;
$thirdColorWhite : #F2F2F2;
$fourthColorWhite: #F3F3F3;
$footerColorBlack: #2c2c2c;