@import "../../index.scss";

.container {
	border: 1px solid red;
	text-align: center;
	@include tablet {
		text-align: justify;
	}
}

.title {
	display: inline-block;
	color: $titleGray;
	font-size: 64px;
	font-weight: 300;
	line-height: 100%;
	margin-bottom: 22px;
	font-size: 44px;

	@include tablet {
		
		
		font-size: 64px;
	}
}

.flexContainer {
	display: flex;
	gap: 30px;
}

.photoWrapper {
	display: none;
	@include tablet {
		display: block;
		flex-grow: 1;
		img {
			width: 100%;
		}
	}
}

.form {
	width: 100%;
	@include tablet {
		max-width: 391px;
	}

	display: flex;
	flex-direction: column;
	gap: 10px;

	input {
		width: 100%;
		font-size: 14px;

		font-weight: 400;

		letter-spacing: 0.56px;
		padding-top: 14px;
		padding-bottom: 14px;
		padding-left: 21px;
		background-color: $fourthColorWhite;
		border: none;
	}
	textarea {
		overflow: auto;
		width: 100%;
		min-height: 147px;
		resize: none;
		font-size: 14px;

		font-weight: 400;

		letter-spacing: 0.56px;

		padding-top: 14px;
		padding-bottom: 14px;
		padding-left: 21px;
		background-color: $fourthColorWhite;
		border: none;
	}
}

.placeinput {
	position: relative;
	overflow: hidden;
}

.place_holder {
	z-index: 100;
	cursor: text;
	position: absolute;
	top: 34%;
	left: 21px;
	width: 100%;
	display: none;

	color: #8d8d8d;

	font-size: 14px;

	font-weight: 400;

	letter-spacing: 0.56px;

	span {
		color: red;
	}
}

.place_holderTextArea {
	z-index: 100;
	cursor: text;
	position: absolute;
	top: -666%;
	left: 21px;
	width: 100%;
	display: none;

	color: #8d8d8d;

	font-size: 14px;

	font-weight: 400;

	letter-spacing: 0.56px;

	span {
		color: red;
	}
}

.placeinput input:invalid + .place_holder,
.placeinput textarea:invalid + .place_holderTextArea {
	display: inline;
}

.textareaContainer {
	position: relative;
}

.checkboxLabel {
	padding-left: 21px;
	display: flex;
	gap: 16px;
	align-items: center;
	margin-bottom: 21px;

	&:hover {
		cursor: pointer;
	}
}
.checkbox {
	display: none;
	visibility: hidden;
}

.rule {
	user-select: none;
	font-size: 14px;
}

.iconWrapper {
	display: inline-block;
	min-width: 24px;
	height: 24px;
	border: 1px solid $mainTextColorGrey;
	svg {
		width: 100%;
		height: 100%;
	}
}
.iconWrapperNew {
	display: inline-block;
	min-width: 24px;
	height: 24px;

	svg {
		width: 100%;
		height: 100%;
	}
}

.ourProjectBtn {
	display: flex;
	width: 100%;
	justify-content: center;
	@include tablet {
		max-width: 222px;
	}
	max-height: 71px;
	padding: 24px 36px;
	border: none;
	background: $mainTextColorGrey;
	transition: all $hoverAnimation;
	gap: 12px;
	color: $mainBgColorWhite;
	align-items: center;
	font-size: 12px;

	line-height: 100%;
	letter-spacing: 2.4px;
	text-transform: uppercase;

	&:hover {
		cursor: pointer;
		background-color: $mainBgColorWhite;
		color: $mainTextColorGrey;
	}

	& .icon {
		width: 100%;
		height: 100%;
	}
}
